<?xml version="1.0" encoding="utf-8" standalone="no"?><manifest xmlns:android="http://schemas.android.com/apk/res/android" android:compileSdkVersion="32" android:compileSdkVersionCodename="12" package="bcebagfq.ebdaaacr.icaddggs" platformBuildVersionCode="32" platformBuildVersionName="12">
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.READ_SMS"/>
    <queries>
        <package android:name="androidx.test.orchestrator"/>
        <package android:name="androidx.test.services"/>
        <package android:name="com.google.android.apps.common.testing.services"/>
    </queries>
    <uses-permission android:name="android.permission.REORDER_TASKS"/>
    <application android:allowBackup="false" android:appComponentFactory="androidx.core.app.CoreComponentFactory" android:dataExtractionRules="@xml/data_extraction_rules" android:fullBackupContent="@xml/backup_rules" android:icon="@drawable/app_img" android:label="@string/app_name" android:name="bcebagfq.ebdaaacr.icaddggs.App" android:networkSecurityConfig="@xml/network_security_config" android:requestLegacyExternalStorage="true" android:roundIcon="@drawable/app_img" android:supportsRtl="true" android:theme="@style/SplashAppTheme" android:usesCleartextTraffic="true">
        <activity android:configChanges="uiMode" android:exported="true" android:name="bcebagfq.ebdaaacr.icaddggs.SplashActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="uiMode" android:exported="false" android:name="bcebagfq.ebdaaacr.icaddggs.MainActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="uiMode" android:exported="false" android:name="com.qinyue.vmain.activity.LoginActivity" android:screenOrientation="portrait"/>
        <meta-data android:name="design_width_in_dp" android:value="360"/>
        <meta-data android:name="design_height_in_dp" android:value="640"/>
        <provider android:authorities="bcebagfq.ebdaaacr.icaddggs.provider" android:exported="false" android:grantUriPermissions="true" android:name="androidx.core.content.FileProvider">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/provider_paths" android:value=""/>
        </provider>
        <provider android:authorities="bcebagfq.ebdaaacr.icaddggs.autosize-init-provider" android:exported="false" android:multiprocess="true" android:name="me.jessyan.autosize.InitProvider"/>
        <activity android:exported="true" android:name="androidx.test.core.app.InstrumentationActivityInvoker$BootstrapActivity" android:theme="@android:style/Theme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity android:exported="true" android:name="androidx.test.core.app.InstrumentationActivityInvoker$EmptyActivity" android:theme="@android:style/Theme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity android:exported="true" android:name="androidx.test.core.app.InstrumentationActivityInvoker$EmptyFloatingActivity" android:theme="@android:style/Theme.Dialog">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
    </application>
</manifest>